.postFeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-grid);
  margin: var(--spacing-m) 0;
}

/* DEFAULT POST CARD */
.postCard {
  background: var(--color-bg-700);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-sizing: border-box;
  order: 2;
}
.postCard a {
  color: white;
}
.postCard p {
  color: var(--color-text);
}
.postCard img {
  width: 100%;
  height: auto;
}
.postCard img.postCard__image,
.postCard .postCard__noImage {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.postCard .postCard__noImage {
  background: var(--color-bg-500);
}
/* DEFAULT POST CARD: content blocks */
.postCard__body {
  position: relative;
  padding: var(--spacing-grid);
  min-height: calc(9rem + var(--spacing-grid));
}
.postCard__date {
  margin-bottom: var(--spacing-xs);
}
.postCard__title {
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.5rem;
  margin-bottom: var(--spacing-s);
}
.postCard__info {
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-s);
}
.postCard__info p {
  font-size: 1rem;
}
.postCard__info_author {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}
.postCard__info_author img {
  width: 3rem;
  border-radius: var(--border-radius);
}
.postCard__readMore {
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* LATEST POST */
.postCard--latest {
  order: 0;
  grid-column: span 2;
  border: var(--border);
  border-color: var(--color-secondary);
  background: var(--color-secondary);
  position: relative;
  z-index: 1;
  display: grid;
}
.postCard--latest h2 {
  color: white;
}
.postCard--latest a {
  display: grid;
  grid-template-rows: auto 1fr;
}
.postCard--latest p {
  color: white;
}
.postCard--latest img.postCard__image {
  height: 100%;
}
.postCard--latest .text--title {
  opacity: 1;
  white-space: nowrap;
  font-size: 1rem;
}
/* LATEST POST: content blocks */
.postCard--latest .postCard__body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--spacing-grid);
}
.postCard--latest .postCard__title {
  width: 80%;
  font-size: 2rem;
  line-height: 2rem;
}
.postCard__tag {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.25rem 1rem;
  padding-left: 2rem;
  margin-top: var(--spacing-m);
}
.postCard__imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}
.postCard__imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: var(--transition);
}

/* LINK BOXES ON HOMEPAGE */
.homepageLinks {
  order: 1;
  display: grid;
}
.homepageLinks h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: var(--spacing-s);
}
.homepageLinks p {
  color: white;
}
.homepageLinks a {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: var(--border-radius);
  border: var(--border-glow);
  gap: var(--spacing-grid);
  padding: 1.5rem;
}
.homepageLinks svg {
  padding-top: 0.2rem;
  opacity: 0.3;
}
/* LINK BOXES ON HOMEPAGE: content blocks*/
.homepageLinks__guides {
  background: var(--color-accent);
  margin-bottom: var(--spacing-grid);
}
.homepageLinks__store {
  background: var(--color-primary);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  .postFeed {
    grid-template-columns: 1fr;
  }
  .postCard--latest {
    grid-column: initial;
  }
}
